<iframe class="w-full h-full absolute" src="https://www.youtube.com/embed/JpUd4BS7yI0?autoplay=1&mute=1&loop=10" title="YouTube video player" frameborder="0"></iframe>

<div class="h-screen bg-white">
  <div class="pt-[20%] px-24 absolute text-white bg-gradient-to-r from-black">
    <h1 class="text-6xl font-bold">Oppenheimer</h1>
    <p class="inline-block py-6 text-xl w-1/4 flex-wrap">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius sed voluptatum vel sunt nesciunt suscipit accusamus vitae dolore harum aperiam, atque, quisquam ullam id explicabo quod fugit quos facere quas non aliquam in autem molestias debitis. Aliquam beatae ipsam neque qui, labore, recusandae odit maxime necessitatibus, saepe obcaecati aspernatur pariatur.      
    </p>
    <div>
      <button class="bg-whitetext-black py-4 px-12 text-xl rounded-lg">
        ▶️ Play
      </button>
      <button>
        More Info
      </button>
    </div>
  </div>
</div>
